<html>
<body>
    <a href="/forum">forum</a>
    {% if user.is_authenticated %}
        <a href="/logout">logout</a>
    {% else %}
        <a href="/login">login</a>
	<a href="/register">register</a>
    {% endif %}

 {% if errors %}
 <p class="error">{{ errors }}</p>
  {% endif %}
  <h1>Login</h1>
  <form action="" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
  </form>
</body>
</html>
